.container{
    display: flex;
    flex-direction: column;
    width: 30vw;
    padding: 30px;
    height: 40vh;
    justify-content: space-between;
    background-color: rgba(255, 255, 255, 0.995);
    border-radius: 10px;
    position: relative;
}

.customer_container{
    width: 50vw;
    height: 60vh;
    justify-content: flex-start;
}

.form_container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 45vw;
    height: 45vh;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.995);
    top: 50px;
    left: 50px;
    border-radius: 5px;
    padding: 20px 0px;
}

@media (max-width: 490px){
    .container{
        width: 74vw;
    }

    .customer_container{
        width: 74vw;
    }
    .form_container{
        width: 70vw;
        left: 12vw;
    }
}