.container_search {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid gray;
  border-radius: 5px;
  padding: 4px;
}

.container_search > svg{
  width: 26px;
  color: gray;
}

.search {
  border: none;
  outline: none;
}
